<section class="header_main mb-24">
  <main>
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 75vh;"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("https://image.shutterstock.com/image-illustration/rocket-launch-startup-business-opportunity-260nw-1159974085.jpg");'
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-75 bg-black"
          ></span>
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold text-4xl">
                  Automate Manual Processes
                </h1>
                <p class="mt-4 text-lg text-gray-300">
                  Contact us for top-notch solutions to automate your business processes.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px; transform: translateZ(0px);"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-300 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <section class="pb-20 bg-gray-300 -mt-24">
        <div class="container mx-auto px-4">
          <!-- start -->
          <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center ">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto ">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
                  >
                    <i class="fas fa-award "></i>
                  </div>
                  <h6 class="text-xl font-semibold">Topnotch Services</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    We provide highly reliable service, giving you the reason to always work with us.
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
                  >
                    <i class="fas fa-retweet"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Easy to integrate</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Our solutions can easily integrate with any existing system or process.
                  </p>
                </div>
              </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center ">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
                  >
                    <i class="fas fa-poll"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Scalable solutions</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    We provide scalable and portable user-friendly solutions
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- stop -->
          <div class="flex flex-wrap items-center mt-32">
            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
              <div
                class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
              >
                <i class="fas fa-user-friends text-xl"></i>
              </div>
              <h3 class="text-3xl mb-2 font-semibold leading-normal">
                Working with us is a pleasure
              </h3>
              <p
                class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
              >
                Work with us and experience the best service that we offer.

              </p>
              <p
                class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
              >
                Let's work together to automate your manual processes
              </p>
              <a
                href="/projects"
                class="font-bold text-gray-800 mt-8"
                >Check out our works  ... <i class="fas fa-arrow-right text-xl"></i></a
              >
            </div>
            <!-- start -->
            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-indigo-600"
              >
                <img
                  alt="..."
                  src="https://dynamicbusiness.com.au/wp-content/uploads/2019/12/DB-article-size-copy-4.png"
                  class="w-full align-middle rounded-t-lg"
                />
                <blockquote class="relative p-8 mb-4">
                  <svg
                    preserveAspectRatio="none"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 583 95"
                    class="absolute left-0 w-full block"
                    style="height: 95px; top: -94px;"
                  >
                    <polygon
                      points="-30,95 583,95 583,65"
                      class="text-indigo-600 fill-current"
                    ></polygon>
                  </svg>
                  <h4 class="text-xl font-bold text-white">
                    Top Notch Services
                  </h4>
                  <p class="text-md font-light mt-2 text-white">
                    
Our solutions speak more about us providing seamless procedure in handling your business processes. Our vision is to make life easy and to eliminate most manual processes.
                  </p>
                </blockquote>
              </div>
            </div>
            <!-- stop -->
          </div>
        </div>
      </section>
      <section class="relative py-20">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px; transform: translateZ(0px);"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <img
                alt="..."
                class="max-w-full rounded-lg shadow-lg"
                src="https://vladimerbotsvadze.files.wordpress.com/2015/02/8204dcb5b2c8fbf6a7b15f92b42a4b57.jpg"
              />
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12">
                <div
                  class="text-indigo-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-indigo-300"
                >
                  <i class="fas fa-rocket text-xl"></i>
                </div>
                <h3 class="text-3xl font-semibold">Let's scale together </h3>
                <p class="mt-4 text-lg leading-relaxed text-gray-600">
                  We provide smart solutions on all platforms allowing you to have a great audience. Let's have a chat to get started.
                </p>
                <ul class="list-none mt-6">
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600 bg-indigo-300 mr-3"
                          ><i class="fas fa-mobile"></i></span>
                         
                      </div>
                      <div>
                        <h4 class="text-gray-600">
                          Mobile applications(Android and IOS apps)
                        </h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600 bg-indigo-300 mr-3"
                          ><i class="fas fa-desktop"></i></span>
                         
                      </div>
                      <div>
                        <h4 class="text-gray-600">Web applications</h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600 bg-indigo-300 mr-3"
                          ><i class="fas fa-cloud"></i></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">Cloud solutions</h4>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pt-20 pb-48">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold">Our Customer's Testimonies</h2>
              <p class="text-lg leading-relaxed m-4 text-gray-600">
                We appreciate customer's feedback, as it helps us improve our products and services.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 130px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Austin Gale</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    CTO AT INDIGOSCOPE
                  </p>
                  <div class="mt-6">
                   <b class="italic">
                     "Worked with NuralTec on a couple of open source projects and their delivery rate is awesome"
                   </b>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="https://ci4.googleusercontent.com/proxy/L2-XaRinu25wYWIfgh0-PlxNkXywxpstH0RQXNctJS9h2qmh-_GoaiIMDm0S84fuQQe4W3H8Ky4fbzM-8QB3Fcn7aWhXi8FQKCzzKwB-3uwSWm3ZH6bUx8l4MsisuN_QYINATUkOIhJKBjm5ECEC0lAsAgW5vicP=s0-d-e1-ft#https://www.freelogodesign.org/file/app/client/thumb/92b375f0-997b-438d-9fa7-d9f9be538514_200x200.png"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 130px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Titi Ekundayo</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Lead Strategist IRW
                  </p>
                  <div class="mt-6">
                   <b class="italic">
                     "NuralTec is one of the best Tech companies I have worked with. I would give them a five star rating"
                   </b>
                  </div>
                </div>
                </div>
              </div>
            
            <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="https://ojurire.com/wp-content/uploads/2020/03/unnamed.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 130px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Ogunwusi Ojurire</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    CEO Lashed by Ojurire
                  </p>
                  <div class="mt-6">
                    <b class="italic">
                      "Thanks to NuralTec, we are able to make more and faster sales online"
                    </b>
                   </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
      
    </main>
</section>