<section class="header_main mb-24">
  <main class="profile-page">
    <section class="relative block" style="height: 250px;">
      <div class="absolute top-0 w-full h-full bg-center bg-cover"
        style='background-image: url("https://thumbs.dreamstime.com/b/devices-laptop-computer-screen-ipad-mobile-digital-tablet-display-social-media-contact-us-landing-page-background-131608696.jpg");'>
        <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
      </div>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
        style="height: 70px; transform: translateZ(0px);">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- Projects start -->
    <section class="relative block bg-gray-900">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px; transform: translateZ(0px);">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>

    </section>


    <section class="relative block lg:pt-0 bg-gray-900">
      <h2 class="text-white text-4xl mb-10 text-center font-semibold font-heading">Our Projects</h2>
      <!-- start -->
      <div class="mt-4 flex flex-wrap">
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <a href="https://netflixx.netlify.app/" target="_blank">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-indigo-600">
              <img alt="..." src="https://images.pexels.com/photos/4009409/pexels-photo-4009409.jpeg?auto=format&fit=crop&w=500&q=60&h=280"
                class="w-full align-middle rounded-t-lg" />
              <blockquote class="relative p-8 mb-4">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                  class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                  <!-- <polygon
            points="-30,95 583,95 583,65"
            class="text-pink-600 fill-current"
          ></polygon> -->
                </svg>
                <h4 class="text-xl font-bold text-white">
                  Movie Rating WebApp
                </h4>
                <p class="text-md font-light mt-2 text-white">
                  This is a review-aggregation website for films and television series.<br> It was built with  React
                </p>
              </blockquote>
            </div>
          </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <a href="https://ojurire.com/" target="_blank">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-indigo-600">
            <img alt="..." src="https://images.unsplash.com/photo-1581389042184-bfc74c8af48e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fGxhc2hlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60&h=280"
              class="w-full align-middle rounded-t-lg" />
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <!-- <polygon
                        points="-30,95 583,95 583,65"
                        class="text-pink-600 fill-current"
                      ></polygon> -->
              </svg>
              <h4 class="text-xl font-bold text-white">
                Lashed By Ojurire
              </h4>
              <p class="text-md font-light mt-2 text-white">
                Lashed by Ojurire is a personal care and beauty products store. It offers beauty products mainly eye lashes and cosmetics.
              </p>
            </blockquote>
          </div>
        </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <a href="https://saizzler.com/" target="_blank">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-indigo-600">
            <img alt="..." src="https://saizzler.com/wp-content/uploads/2020/10/NEW-1536x864.jpg"
              class="w-full align-middle rounded-t-lg" />
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <!-- <polygon
                        points="-30,95 583,95 583,65"
                        class="text-pink-600 fill-current"
                      ></polygon> -->
              </svg>
              <h4 class="text-xl font-bold text-white">
                Saizzler Architectural Firm
              </h4>
              <p class="text-md font-light mt-2 text-white">
                Saizzler is a real-estate and Architectural firm which offers building design, materials and construction as a service.
              </p>
            </blockquote>
          </div>
        </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <a href="http://titiekundayo.com/" target="_blank">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-indigo-600">
            <img alt="..." src="https://ci4.googleusercontent.com/proxy/L2-XaRinu25wYWIfgh0-PlxNkXywxpstH0RQXNctJS9h2qmh-_GoaiIMDm0S84fuQQe4W3H8Ky4fbzM-8QB3Fcn7aWhXi8FQKCzzKwB-3uwSWm3ZH6bUx8l4MsisuN_QYINATUkOIhJKBjm5ECEC0lAsAgW5vicP=s0-d-e1-ft#https://www.freelogodesign.org/file/app/client/thumb/92b375f0-997b-438d-9fa7-d9f9be538514_200x200.png"
              class="w-full align-middle rounded-t-lg" />
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <!-- <polygon
                        points="-30,95 583,95 583,65"
                        class="text-pink-600 fill-current"
                      ></polygon> -->
              </svg>
              <h4 class="text-xl font-bold text-white">
                Titi Ekundayo Blog
              </h4>
              <p class="text-md font-light mt-2 text-white">
                This is a personal blog built with wordpress
              </p>
            </blockquote>
          </div>
        </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <a href="https://play.google.com/store/apps/details?id=com.nuraltec.findr" target="_blank">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-indigo-600">
            <img alt="..." src="https://play-lh.googleusercontent.com/qQPrxpoTt-Q3t-Uv975z2XZLfNRuQjdEkBg1zuRXPEZx1mQdWA4mEZ6gzQhqpEPUVus=s180-rw"
              class="w-full align-middle rounded-t-lg" />
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <!-- <polygon
                        points="-30,95 583,95 583,65"
                        class="text-pink-600 fill-current"
                      ></polygon> -->
              </svg>
              <h4 class="text-xl font-bold text-white">
                Findr Application
              </h4>
              <p class="text-md font-light mt-2 text-white">
                This is a security as a service application
              </p>
            </blockquote>
          </div>
        </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-indigo-600">
            <img alt="..." src="https://www.logolounge.com//article_images/Crash_New1.png"
              class="w-full align-middle rounded-t-lg" />
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <!-- <polygon
                        points="-30,95 583,95 583,65"
                        class="text-pink-600 fill-current"
                      ></polygon> -->
              </svg>
              <h4 class="text-xl font-bold text-white">
                Humanetics
              </h4>
              <p class="text-md font-light mt-2 text-white">
                Site under construction
              </p>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- stop -->
    </section>
    <!-- Projects end -->
  </main>
</section>