<section class="header_main mb-24">
<!-- service start -->
<div id="service" class="choose_section">
    <div class="container">
        <div class="col-sm-12">
            <h1 class="choose_text">Our Projects and<span class="color"> Services</span></h1>
            <p class="lorem_text">Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad 
teimpor sittem elit inuning ut sed.</p>
        </div>
    </div>
</div>
<div class="choose_section_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="dedicated rounded-lg overflow-hidden">
                    <div class="relative overflow-hidden pb-80">
                        <a href="https://saizzler.com/" target="_blank">
                            <img class="absolute h-full w-full object-cover object-center"
                            src="https://saizzler.com/wp-content/uploads/2020/10/5.jpg"
                            alt="" />
                        </a>
                        
                    </div>
                    <h2 class="totaly_text">Shared Hosting</h2>
                    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="about_inner rounded-lg overflow-hidden">
                    <div class="relative overflow-hidden pb-80">
                        <a href="https://saizzler.com/" target="_blank">
                            <img class="absolute h-full w-full object-cover object-center"
                            src="https://saizzler.com/wp-content/uploads/2020/10/5.jpg"
                            alt="" />
                        </a>
                        
                    </div>
                    <h2 class="totaly_text">Shared Hosting</h2>
                    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="about_inner rounded-lg overflow-hidden">
                    <div class="relative overflow-hidden pb-80">
                        <a href="https://saizzler.com/" target="_blank">
                            <img class="absolute h-full w-full object-cover object-center"
                            src="https://saizzler.com/wp-content/uploads/2020/10/5.jpg"
                            alt="" />
                        </a>
                        
                    </div>
                    <h2 class="totaly_text">Shared Hosting</h2>
                    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>
            </div>
        </div>    		
    </div>
</div>

<div class="choose_section_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="about_inner rounded-lg overflow-hidden">
                    <div class="relative overflow-hidden pb-80">
                        <a href="https://saizzler.com/" target="_blank">
                            <img class="absolute h-full w-full object-cover object-center"
                            src="https://saizzler.com/wp-content/uploads/2020/10/5.jpg"
                            alt="" />
                        </a>
                        
                    </div>
                    <h2 class="totaly_text">Shared Hosting</h2>
                    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="about_inner rounded-lg overflow-hidden">
                    <div class="relative overflow-hidden pb-80">
                        <a href="https://saizzler.com/" target="_blank">
                            <img class="absolute h-full w-full object-cover object-center"
                            src="https://saizzler.com/wp-content/uploads/2020/10/5.jpg"
                            alt="" />
                        </a>
                        
                    </div>
                    <h2 class="totaly_text">Shared Hosting</h2>
                    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="about_inner rounded-lg overflow-hidden">
                    <div class="relative overflow-hidden pb-80">
                        <a href="https://saizzler.com/" target="_blank">
                            <img class="absolute h-full w-full object-cover object-center"
                            src="https://saizzler.com/wp-content/uploads/2020/10/5.jpg"
                            alt="" />
                        </a>
                        
                    </div>
                    <h2 class="totaly_text">Shared Hosting</h2>
                    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                </div>
            </div>
        </div>
        <div class="bt_main">
            <button class="read_more"><a href="#">Read More</a></button>
        </div>   		
    </div>
</div>

<!-- service end -->
</section>