body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

.rotate-45 {
  transform: rotate(45deg);
}

.-rotate-45 {
  transform: rotate(-45deg);
}

.add-to-cart {
  border: 2px solid #79d69b;
  color: #79d69b;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #79d69b;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background: #79d69b;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #25d366;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #79d69b;
}

section.login {
  background: #F8F8F8;
  min-height: calc(100vh - 86px);
}
section.login a {
  color: #79d69b;
}
section.login a:hover {
  color: #25d366;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
